<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Peace_Portal_Payroll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
    <add name="SqliteCon" connectionString="Data Source=.\PPDatabase.db;Version=3;" providerName="System.Data.SqlClient" />
  <add name="Peace_Portal_Payroll.Properties.Settings.CNN" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\PPDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="Peace_Portal_Payroll.Properties.Settings.E__ONEDRIVE_VISUAL_STUDIO_PROGRAMS_VISUAL_STUDIO_PROJECTS_PEACE_PORTAL_PAYROLL_PPDATABASE_MDFConnectionString" connectionString="Data Source=LIVING-ROOM\SQLEXPRESS;Initial Catalog=&quot;E:\ONEDRIVE\VISUAL STUDIO PROGRAMS\VISUAL STUDIO PROJECTS\PEACE PORTAL PAYROLL\PPDATABASE.MDF&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="Peace_Portal_Payroll.Properties.Settings.E__ONEDRIVE_VISUAL_STUDIO_PROGRAMS_VISUAL_STUDIO_PROJECTS_PEACE_PORTAL_PAYROLL_BIN_DEBUG_PPDATABASE_MDFConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=&quot;E:\ONEDRIVE\VISUAL STUDIO PROGRAMS\VISUAL STUDIO PROJECTS\PEACE PORTAL PAYROLL\BIN\DEBUG\PPDATABASE.MDF&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<Peace_Portal_Payroll.Properties.Settings>
   <setting name="Rate1" serializeAs="String">
    <value>25.3300</value>
   </setting>
   <setting name="Rate2" serializeAs="String">
    <value>37.995</value>
   </setting>
   <setting name="Rate3" serializeAs="String">
    <value>50.6600</value>
   </setting>
  </Peace_Portal_Payroll.Properties.Settings>
	</userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.1395" newVersion="2.0.7.1395" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.1395" newVersion="2.0.7.1395" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
